/* src/index.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: poppins, sans-serif;
  background: #f9fafb;
  color: #1f2937;
  transition: background 0.3s, color 0.3s;
}

header.header {
  background-color: #330066;
  box-shadow: gray;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  text-align: center;
  padding: 1rem;
}

.back-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  cursor: pointer;
  text-decoration: none;
  margin-right: 1rem;
}

.back-arrow:hover {
  opacity: 0.8;
}

.header .logo-container:hover .logo-tooltip {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

footer.footer {
  background-color: #f3f4f6;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  text-align: center;
  color: #111827;
  font-size: 0.9rem;
  margin-bottom: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 1rem;
}

.header-content,
.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer .logo-container:hover .logo-tooltip {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

@media (max-width: 768px) {
  .footer-content p {
    font-size: 12px;
  }
}

.logo-container {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.logo-link {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
}

.logo-container:hover .logo-tooltip {
  opacity: 1;
  visibility: visible;
}

.logo-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 8px;
  cursor: pointer;
}

.logo-text-container {
  display: flex;
  align-items: center;
}

@media (max-width: 600px) {
  .logo-tooltip {
    font-size: 8px;
    padding: 4px 10px;
  }
}

.logo-container:hover .logo-tooltip {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.footer-madeby {
  font-size: 13px;
  color: #555;
  margin-top: 4px;
}

@media (max-width: 768px) {
  .footer-madeby {
    text-align: start;
  }
}

.footer-madeby a {
  color: #24a0b5;
  text-decoration: none;
}

.footer-madeby a:hover {
  text-decoration: underline;
}

.logo {
  width: 32px;
  height: 32px;
}

@media (max-width: 600px) {
  .logo {
    width: 25px;
    height: 25px;
  }
}

.logo-side-text {
  font-size: 1rem;
  font-weight: 600;
  color: white;
  text-decoration: none;
}

@media (max-width: 600px) {
  .logo-side-text {
    font-size: 14px;
  }
}

footer .logo-side-text {
  color: #111827;
}

.tools-dashboard {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.flex-grow {
  min-height: calc(100vh - 160px);
}

.container {
  max-width: 1200px;  
  margin: 0 auto;     
  padding: 0 16px;    
  width: 100%;
  box-sizing: border-box;
}

.tools-dashboard p {
  text-align: center;
  margin: 5px 0 40px 0;
}

.dashboard-title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
  color: #330066;
}

.tools-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1.5rem;
}

.tools-card {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

/* .tools-card > .card-item {
  flex: 1 1 200px; 
} */

.tool-card {
  text-align: center;
  background: white;
  border-radius: 8px;
  padding: 1.5rem;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  text-decoration: none;
  color: inherit;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.tool-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.tool-icon-container {
  background-color: #330066;
  width: 2.9rem;
  height: 2.9rem;
  padding: 5px;
  margin: 1.2rem auto 1rem auto;
  border-radius: 4px;
  text-align: center;
}

.tool-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2px;
  padding: 0;
  font-size: 2rem;
  color: #FFCC00;
}